.trackersContainer {
    background-color: white;
    position: absolute;
    top: 4.8rem;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 60rem;
    height: max-content;
    padding-bottom: 10vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.trackersListHeaderWrapper {
    background-color: #D9D9D9;
    color: #0084B4;
    margin-top: 4rem;
}
.trackersListHeader {
    margin-left: 2.5rem;
    padding-top: 0.55rem;
    font-weight: 700;
    font-size: 24px;
}

.trackersListEditButton {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 44rem;
    color: #0080ae;
}

.trackersListEditButton:hover{
   cursor: pointer;
}
.CreateNewTrackerButtonWrapper .CreateNewTrackerButton {
    color: #F28627;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    border-bottom-style: solid;
    border-bottom-color: #f28627cb;
    border-bottom-width: 1px;
    cursor: pointer;
}
.CreateNewTrackerButtonWrapper {
    margin-top: 0.8125rem;
    margin-bottom: 0.8125rem;
    margin-left: 1rem;
}

.pageText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.EditUsersIcon{
    font-size: larger;
}
.EditUsersIcon:hover{
    cursor: pointer;
}

.EditTenantIcon:hover{
    cursor: pointer
}

.link_orange {
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 27px !important;
    display: flex !important;
    align-items: center !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 1px !important;
    color: #F28627 !important;
    padding-top: 15px !important;
}

.link_blue {
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 27px !important;
    display: flex !important;
    align-items: center !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 1px !important;
    color: #0084B4 !important;
    padding-top: 0px !important;
}
.align-end {
    margin-left: 75% !important;
}
