#footer {
    background-color: #F28627;
    height:auto;
    width:100vw;
    padding-top:100px;
    position:absolute;
    bottom:0;
    right:0;
    left:0

}
body{
    margin:0;
    padding:0;
    background-color:#0084B4
}
#list-item {
    padding: 0;
    list-style-type: none;
}
