#footer {
    background-color: #F28627;
    height:auto;
    width:100vw;
    padding-top:10px;
    position:absolute;
    bottom:0;
    right:0;
    left:0

}
body{
    margin:0;
    padding:0;
    background-color:#0084B4
}
#team-info {
    text-align: center;
    margin: 0;
    padding: 0
}
ul {
    list-style-type: none;
}
li{
    color:white
}

