/* Provide sufficient contrast against white background */
html, body {
    background-color: #0084B4
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
#footer {
    background-color: #F28627;
    margin-top: auto;
    padding-left: 500px !important;
    padding-top:11px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0084B4
}
h5{
    color:#fff;
    font-weight:400 !important;
}
#loginBtn {
    border-style: solid;
    background-color: #f6aa68;
    color: #fff !important;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 15px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    border-bottom: solid;
}
