/* Provide sufficient contrast against white background */
html, body {
    background-color: #0084B4
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
#footer {
    background-color: #F28627;
    padding: 0px !important;
    padding-top: 11.5px !important;
    justify-content:left
}
#main-content {
    display:inline-item;
    justify-content:center;

}
body {
    margin: 0;
    padding: 0;
    background-color: #0084B4
}
h5 {
    color: #fff;
    font-weight: 500 !important;
    margin-top:-10px !important;
    font-size:15px !important;
}
#main-content {
    margin-top: -10px;
}
span{
    color:#fff;
    font-weight:200 !important;
    margin-top:0 !important;
}
.info{
    margin-top:0 !important
}
.nav-item{
    padding-right:200px;
}
#dev{
   margin-right:16rem !important;
}
#loginBtn {
    border-style: solid;
    background-color: #f6aa68;
    color: #fff !important;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    border-bottom: solid;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 0;
    font-weight:400;
}
