.TenantContainer{
    background-color: #F3F3F3;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;

}
.TenantContainer .TenantNameWrapper .tenantName{
    margin-left: 1.125rem;
    color: black;
}
.TenantContainer .TenantNameWrapper
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.pageText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.ManageTenantButtonWrapper{
    margin-left: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.ManageTenantButtonWrapper .ManageButton
{
    background-color: #0084B4;
    color: white;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    width: 7.85rem;
    height: 2.25rem;
    margin-right: 1rem;
}
.ManageTenantButtonWrapper .ManageButton:hover{
    background-color: #0080ae;
    color: #F3F3F3;
}

.ManageTenantButtonWrapper .ManageButton:active{
    color: #e7e6e6;
}

.ManageButtonText{
    color: white;
    text-decoration: none;
}
.ManageButtonText:hover{
    color: white;
    text-decoration: none;
}