.EditTenantContainer {
    background-color: white;
    position: absolute;
    top: 5.2rem;
    border-radius: 30px 0px;
    width: 1080px;
    height: max-content;
    padding-bottom: 10vh;
    margin-bottom: 70px;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.TenantHeaderWrapper{
    margin-top: 2.6875rem;
    padding-top: 0.55rem;
    font-weight: 700;
    font-size: 24px;
    background-color: #D9D9D9;
    color: #0084B4;
}

.TenantName {
    margin-left: 2.5rem;
    font-size: 24px !important;
}
.EditTenantIcon {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    margin-left: 52rem;
    color: #0080ae;
}
.TenantNameLabel{
    margin-top: auto;
    margin-left: 2.5rem;
}
.TenantFieldsContainer{
    margin-top: 2.8125rem;
}
.TenantNameInputField{
    background-color: #F3F3F3;
    border-color: #F3F3F3;
    border-bottom-color: black;
    width: 23.75rem;
    margin-left: 0.25rem;
}
.TenantNameInputField:focus{
    background-color: #F3F3F3;
    border-color: #F3F3F3;
    border-bottom-color: black;
    box-shadow: none !important;
}

.TenantButtons{
    margin-top: 1.3125rem;
}
.UpdateButton{
    background-color: #0084B4;
    color: white;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    width: 7.85rem;
    height: 2.25rem;
    margin-left: 1.5625rem;

}
.ResetButton{
    color:#0084B4;
    border-bottom: solid;
    border-bottom-width: 1px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    margin-left:22.0625rem;
}
.ResetButton:hover{
    cursor: pointer;
}
.UseTenantButton{
    color: #0084B4;
    border-bottom-style: solid;
    border-width: 1px;
}
.TenantUsersHeader{
    background-color: #D9D9D9;
    margin-top: 2.1875rem;
    height: 50px;
}
.TenantsHeader {
    margin-top: 0.5rem;
    margin-left: 2.5rem;
    font-size: 21px;
    font-weight: 400;
}

.EditUsersIcon {
    margin-top: 8.5px !important;
    font-size: 2rem !important;
    margin-left: 57.7rem !important;
    color: #0080ae;
}

.InviteNewUser{
    color: #F28627;
    border-bottom-color: #f28627cb;
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin-left: 2.5rem;
}

.InviteNewUserWrapper{
    margin-top: 0.8625rem;
    margin-bottom: 0.8625rem;
}
.InviteNewUserWrapper:hover{
    cursor: pointer;
}

.pageText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}

.UseTenantTrackerButtonWrapper{
    padding-top: 0.18rem;
}
.UseTenantTrackerButtonWrapper:hover{
    cursor: pointer;
}

.TenantTrackerNameWrapper{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 2.5rem;
}
.TenantTrackerName{
    color: black;
}
.TenantTrackersWrapper{
    margin-left: 2rem;
    margin-right: 2rem;
}