.trackersContainer{
    background-color: white;
    position: absolute;
    top: 4.8rem;
    overflow-y: visible;
    overflow-x: hidden;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 60rem;
    height: 799px;
}

.trackersListHeaderWrapper {
    background-color: #D9D9D9;
    color: #0084B4;
    margin-top: 2.6875rem;
}
.trackersListHeader{
    margin-left: 2.5rem;
    padding-top: 0.55rem;
    font-weight: 700;
    font-size: 24px;
}
.TrackerContainer{
    /* margin-top: 3.4375rem; */
}

.trackersListEditButton{
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 44rem;
    color:#0080ae;
}

.CreateNewTrackerButtonWrapper .CreateNewTrackerButton{
    color: #F28627;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    border-bottom-style: solid;
    border-bottom-color: #f28627cb;
    border-bottom-width: 1px;
    cursor: pointer;
}
.CreateNewTrackerButtonWrapper{
    margin-top: 0.8125rem;   
    margin-bottom: 0.8125rem;
    margin-left: 1rem;
}

.pageText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.EditUsersIcon{
    font-size: larger;
}
.EditUsersIcon:hover{
    cursor: pointer;
}

.EditTenantIcon:hover{
    cursor: pointer
}