a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
#navigation-content {
    background-color: #F28627;
    position: absolute;
    height: auto;
    left: 0px;
    right: 0px;
    border: 1px solid #E9573F;
}
#logo-title {
    color: #fff;
    position: absolute;
    padding-left: 11rem;
}

.logo-img{
  margin-left: 9rem;
}
