#myModal {
    border: 0 none;
    margin-top: 0;
    position: absolute;
    width: 500px;
    height: 250px;
    left: 300px;
    top: 150px;
    background: #FFFFFF;
    border: 5px solid #0084B4;
    border-radius: 30px 0px;
    overflow-y: hidden;
}

#createTenant {
    color: #F28627;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}

#name {
    width: 300px;
    height: 41px;
    background: #F3F3F3;
    border-bottom: 2px solid gray;
    margin-top: -35px;
    margin-bottom: 15px;
    margin-left: 140px;
    border-radius: 0;
}

#error {
    margin-left: 140px;
    margin-top: -30px;
    margin-bottom: 0px;
}

.title {
    background-color: #D9D9D9;
    margin-left: -60px;
    margin-right: -20px;
    width: 1600px;
    margin-top: -120px;
    margin-bottom: 30px;
}

#title {
    color: #0084B4;
    font-weight: 700;
    font-size: 24px;
    margin-left: 70px;
    margin-top: 80px;
}

#submit {
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #0084B4;
    color: white;
    height: 36px;
    margin-bottom: 30px;
}

#close {
    margin-bottom: 30px;
    color: #0084B4;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    height: 40px;
}

#label-text {
    margin-left: 10px;
    margin-right: 0px;
}

.modal-header {
    border-bottom: 0 none;
    background-color: #FFFFFF;
}

.modal-footer {
    border-top: 0 none;
    background-color: #FFFFFF;
}

.close {
    display: none;
}
