@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.TrackingItemContainer{
    background-color: #0084B4 !important;
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-right-color: #D9D9D9;
    border-right: 100px;
}
.ValueContainer{
    color: black;
    display: flex;
    /* border-style: solid; */
    background-color: #d9d9d9;
    margin: -4px;
    margin-left: -5.5px;
    width: 105%;
}
.ValueContainerText{
    margin-left: auto;
    margin-right: 10px;
    line-height: 30px;
    margin-bottom: 0;
}
.TrackingItem{
    background-color: #0084B4 !important;
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    min-width: 126px;
}
.hidden
{
    display: none;
}

.SeperationLine{
    border-bottom-style: solid;
    border-color: #D9D9D9;
    border-width: 4px;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    margin-left: 1.813rem;
    margin-right: 1.4rem;
    width: 100%;
}

.ValueParagraph{
    margin-left: auto;
}

table > :not(caption) > * > * 
{
    border-bottom-width: 0px !important;
}

.RecordNameContainer{
    background-color: #d9d9d9 !important;
    margin: 5px;
    height: 30px;
    line-height: 19.07px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
