.tenantsContainer{
    background-color: white;
    position: absolute;
    top: 4.8rem;
    width: max-content;
    overflow-y: visible;
    overflow-x: hidden;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 60rem;
    height: 799px;
}

.tenantsListHeaderWrapper {
    background-color: #D9D9D9;
    color: #0084B4;
    margin-top: 2.6875rem;
}
.tenantsListHeader{
    margin-left: 2.5rem;
    padding-top: 0.55rem;
    font-weight: 700;
    font-size: 24px;
}
.TenantsContainer{
    /* margin-top: 3.4375rem; */
}
.TenantContainer{
    background-color: #F3F3F3;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    margin-right: 2rem;

}
.TenantContainer .TenantNameWrapper .tenantName{
    margin-left: 1.125rem;
}
.TenantContainer .TenantNameWrapper
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
}
.ManageTenantButtonWrapper{
    margin-left: 39rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.ManageTenantButtonWrapper .ManageButton
{
    background-color: #0084B4;
    color: white;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    width: 7.85rem;
    height: 2.25rem;
}
.ManageTenantButtonWrapper .ManageButton:hover{
    background-color: #0080ae;
    color: #F3F3F3;
}

.ManageTenantButtonWrapper .ManageButton:active{
    color: #e7e6e6;
}

.tenantsListEditButton{
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 44rem;
    color:#0080ae;
}

.tenantsListEditButton:hover{
   cursor: pointer;
}
.CreateNewTenantButtonWrapper .CreateNewTenantButton{
    color: #F28627;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    border-bottom-style: solid;
    border-bottom-color: #f28627cb;
    border-bottom-width: 1px;
}
.CreateNewTenantButtonWrapper{
    margin-top: 0.8125rem;
    
}