.tenantsContainer {
    background-color: white;
    position: absolute;
    top: 5.2rem;
    border-radius: 30px 0px;
    width: 1080px;
    height: max-content;
    padding-bottom: 10vh;
    margin-bottom: 70px;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.tenantsListHeaderWrapper {
    background-color: #D9D9D9;
    color: #0084B4;
    margin-top: 44px;
}

.tenantsListHeader {
    margin-left: 2.5rem;
    padding-top: 0.55rem;
    font-weight: 700;
    font-size: 24px;
}

.tenantsListEditButton {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 52.3rem;
    color: #0080ae;
}

.tenantsListEditButton:hover {
    cursor: pointer;
}

.CreateNewTenantButtonWrapper .CreateNewTenantButton {
    color: #F28627;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
    margin-left: 2rem;
    border-bottom-style: solid;
    border-bottom-color: #f28627cb;
    border-bottom-width: 1px;
    cursor: pointer;
}

.CreateNewTenantButtonWrapper {
    margin-top: 0.8125rem;
    margin-bottom: 0.8125rem;
    margin-left: 1rem;
}

.pageText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.EditUsersIcon {
    font-size: larger;
}

.EditUsersIcon:hover {
    cursor: pointer;
}

.EditTenantIcon:hover {
    cursor: pointer
}

