.pageText {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
.panelContainerIndividual {
    background-color: #D9D9D9;
    width: 229px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    margin-right: 2rem;
    margin-top: 1px;
    height: max-content;
}
.commentsIcon{
    color: #0084B4;
    height: 15px;
    margin-left: 3px;
}

.panelComment {
    color: black;
    font-size: 18px;
}
.panelCommentWrapper {
    margin-top: -3px;
    margin-bottom: 2px;
}
.dateText {
    color: black;
    font-size: 17px;
    margin-left: 3px;
}
.dateWrapper {
    margin-top: 5px;
}
.commentDate{
    font-family: Open Sans ;
    font-size: 14px ;
    font-weight: 400 ;
    line-height: 11px ;
    margin-left: 10%;
}

.userNameText {
    font-size: 16px;
    color: black;
    font-weight: 700 !important;
    display: inline;
}
